@model LibraryManagementWithAuthen.Models.RentedBook

@{
    ViewData["Title"] = "Return";
}

<h1>Delete</h1>

<div>
    <h4>RentedBook</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentEmail)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.BookName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RentedBookID" />
        <input type="submit" value="Return" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
